body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  width: 96%;
  background-image: url("../Media/mainBG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

header {
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: right;
  height: 60px;
}

header button {
  background: none;
  border: none;
  color: #000000;
  font: inherit;
  cursor: pointer;
}

.header-buttons button {
  background-color: purple;
  margin-left: 1rem;
  padding: 1rem;
  color: #fff;
  border-radius: 20px;
}

header h3 {
  color: #ffffff;
  margin: 0;
  margin-left: 10px;
  padding: 2px;
}

.body-container button {
  background-color: purple;
  margin-top: 5rem;
  margin-left: 5rem;
  padding: 1rem;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

.whole-container {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
}

.body-container {
  display: block;
  justify-content: center;
}

.body-container .first-label {
  color: yellow;
  text-shadow: 5px 5px 5px purple;
}

.body-container .second-label {
  color: purple;
  text-shadow: 5px 5px 5px yellow;
}

.body-container .label {
  font-size: 3.5rem;
  margin: 0.1rem;
  text-align: left;
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  .label {
    font-size: 2.5;
  }
}

@media screen and (max-width: 480px) {
  .label {
    font-size: 1.5;
  }
}
